.sidebar{
    min-height: 100vh;
    width: 15%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 25px 15px;
    transition: all 0.3s ease-in-out;
}
.sidebar img{
    width: 20px;
}
.sidebar .menu{
    display: block;
    margin-left: 10px;
    cursor: pointer;
}
.sidebar .new-chat{
    margin-top: 50px;
    display: inline-flex;
    width: 65%;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    color: grey;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.sidebar .recent{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    animation: fadeIn 1.5s;
}
.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.sidebar .recent-entry:hover{
    background-color: #e2e6eb;
}
.sidebar .bottom{
    display: flex;
    flex-direction: column;
}
.sidebar .bottom-item{
    padding-right: 10px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.sidebar.collapsed {
    width: 80px; /* Adjust to your collapsed width */
}

.sidebar.collapsed .new-chat,
.sidebar.collapsed .recent-title,
.sidebar.collapsed .recent-entry,
.sidebar.collapsed .bottom-item {
    opacity: 0;
}

.sidebar.collapsed .new-chat p,
.sidebar.collapsed .recent-entry p,
.sidebar.collapsed .bottom-item p {
    display: none;
}

@media (max-width:600px) {
    .sidebar{
        display: none;
    }
}
